[user]
	name = Jamie Kurtz
    email = jkurtz2530@gmail.com


[difftool "kdiff3"]
    path = /usr/bin/kdiff3
    trustExitCode = false
[difftool]
        prompt = false
[diff]
        tool = kdiff3
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3
    trustExitCode = false
[mergetool]
        keepBackup = false
[merge]
	tool = kdiff3
[push]
	default = simple
[core]
    editor = vim

[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    unstage = reset HEAD --
    last = log -1 HEAD
