[user]
	name = Jamie Kurtz
	email = jamie@jamiekurtz.com


[difftool "kdiff3"]
    path = /usr/bin/kdiff3
    trustExitCode = false
[difftool]
        prompt = false
[diff]
        tool = kdiff3
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3
    trustExitCode = false
[mergetool]
        keepBackup = false
[merge]
	tool = kdiff3
[push]
	default = simple
[core]
    editor = vim

[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    unstage = reset HEAD --
    last = log -1 HEAD
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
